// Navigation Styles here
nav{
    justify-content: space-evenly;
    // padding:@navpadding;
    // margin:@navmargin;
    background:black;
    
}
.logo{
    margin-left:50px;
    display:inline-box;
}
